
@font-face {
  font-family: "dana";
  src:
    url("#{$font-path}/dana-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src:
    url("#{$font-path}/dana-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana-600";
  src:
    url("#{$font-path}/dana-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana-700";
  src:
    url("#{$font-path}/dana-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "dana";
  src:
    url("#{$font-path}/dana-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}